RewriteEngine on

 RewriteRule    ^facebook$ facebook.html
  RewriteRule    ^plugindemo$ plugin.html
   RewriteRule    ^fbjasper facebookjasper.html
   RewriteRule    ^fbjeremy facebookjeremy.html
   RewriteRule    ^jenzus jenzus.html
   RewriteRule    ^mira mira.html

